# Основные зависимости
python-telegram-bot==20.7
telethon==1.34.0
python-dotenv==1.0.0
pytz==2023.3

# База данных
aiosqlite==0.19.0  # для асинхронной работы с SQLite
psycopg2-binary==2.9.9  # для PostgreSQL

# Дополнительные
aiofiles==23.2.1
colorlog==6.7.0